#contactme{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#contactme h2{
    color: #222831;
    font-size: 2.5rem;
}
#contactme form{
    width: 40%;
    height: 350px;
    background-color: #393E46;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contactme form input{
    width: 90%;
    height: 60px;
    background: #222831;
    padding-left: 5px;
    color: white;
}
#contactme input::placeholder{
    color: white;
    font-size: 1.2rem;
}
#contactme form button{
    background-color: #385170;
    width: 150px;
    height: 30px;
    color: white;
}
#contactme p{
  margin-top: 20px;
  font-size: 1.5rem;
  max-width: 90%;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.4;
}
@media(max-width:2500px) and (min-width:1280px){
    #contactme form{
        width: 60%;
    }
}

@media(max-width:1700px){
    #contactme form{
        width: 80%;
        height: 200px;
    }
    #contactme input::placeholder{
    color: white;
    font-size: 1.2rem;
}

@media(max-width:768px){
    #contactme h2{
    font-size: 2.0rem;
}
    #contactme p{
        font-size: 1rem;
    }
}
}