.aboutMe{

}

.aboutMe{
  height: 70vh;
  width: 100%;
  display: flex;
 flex-direction: column;
 gap: 50px;
  justify-content: center;
  align-items: center;
}
.aboutMe h2{
  text-align: center;
  font-size: 2rem;
}
.aboutMe .aboutMe-container{
  width: 75%;
  height: 550px;
  background-color: #393E46;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutMe .accounts-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 50%;
  gap: 20px;
}
.aboutMe .accounts-container h4{
  font-size: 1.75rem;
}
.aboutMe .accounts-container .accounts-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}
.accounts-img-container img{
  width: 50px;
}
.aboutMe .accounts-container .moreDetails{
  font-size: 1.1rem;
}

.aboutMe .accounts-container .moreDetails a{
  color: #F96D00;
}

@media (max-width: 768px) {
        .aboutMe{
        gap: 50px;
    }
.aboutMe h2{
  text-align: center;
  font-size: 1.75rem;
}
.aboutMe .aboutMe-container{
  font-size: 0.95rem;
}
.aboutMe .accounts-container h4{
  font-size: 1.5rem;
}
}

 @media (min-width:769px) and (max-width:1280px){

    .aboutMe{
        gap: 30px;
    }
    .aboutMe .aboutMe-container{
  font-size: 1.5rem;
}

@media (max-width:320px){
    .aboutMe .aboutMe-container{
  font-size: 0.7rem;
}
}

}