#experience{
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#experience h2{
  font-size: 2.5rem;
}
.experince-container{
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
}
.works-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.workName{
  font-size: 1.4rem;
}
.workPosition{
  font-size: 1.1rem;
}
.worked{
  font-size: 2rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.worked-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.worked-container div{
  font-size: 1.5rem;
}
.worked-container div strong{
  color: #F96D00;
}
#experience h4{
  font-size: 2rem;
  margin-top: 35px;
  text-align: center;
}
.techStack-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.techStack-container img{
  width: 90%;
}

@media(max-width:768px){
  .worked-container{
    flex-direction: column;
  }
}
