#hero{
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  position: absolute;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.content-info h2{
  font-size: 2.5em;
}

.content-info p{
  font-size: 1.5em;
}

.profile{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 45%;
  border: 5px dotted orangered;
  z-index: 999;

  transition: transform 0.3s ease;
}

.profile:hover{
  transform: scale(1.1);
  border: 4px solid orangered;
}

.icon{
  position: absolute;
}

.java {
  width: 15%;
  right: 12%;
  top: 30%;
  transform: rotate(-15deg);

  transition: transform 0.3s ease;
}

.java:hover{
  transform: rotate(0deg);
  transform: scale(1.1);
}

.spring {
  width: 12%;
  left: 12%;
  bottom: 15%;
  transform: rotate(15deg);

  transition: transform 0.3s ease;
}

.spring:hover{
  transform: rotate(0deg);
  transform: scale(1.1);
}

.kafka {
  width: 18%;
  right: 12%;
  bottom: 20%;
  transform: rotate(-15deg);

  transition: transform 0.3s ease;
}

.kafka:hover{
  transform: rotate(0deg);
  transform: scale(1.1);
}

.code {
  width: 13%;
  left: 12%;
  top: 30%;
  transform: rotate(15deg);

  transition: transform 0.3s ease;
}

.code:hover{
  transform: rotate(0deg);
  transform: scale(1.1);
}



@media (max-width:767px){
    .profile {
      width: 250px;
      height: 250px;
}

.content h2{
  font-size: 2.2rem;
  color: #222831;
}
.content p{
  font-size: 1.2rem;
  text-decoration: underline;
  color: #222831;
}

  .java{
      width: 20%;
  right: 7%;
  top: 15%;
  }
  .code{
    width: 20%;
    left: 7%;
    top:15%;
  }
  .spring{
    width: 20%;
    left: 7%;
    bottom: 7%;
  }
  .kafka{
    width: 25%;
    right: 7%;
    bottom: 8%;
  }

}